#---------------------user ------------------------
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies

/googlemap/.pnp
.pnp.js

# testing
/googlemap/coverage

# production
/googlemap/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#----------------------------driver------------------------
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies

/driver/.pnp
.pnp.js

# testing
/driver/coverage

# production
/driver/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
