.app-section{
    padding: 10px;
    height: 727px;
}
.detail-map{
    margin: 0 auto;
    text-align: center;
}
.driver-detail{
    margin: 0 auto;
    border-radius: 30px;
    position: static;
    width: 80%;
    height: 80px;
    background:#d7fbe8;
    text-align: center;
}
.head-detail{
    margin: 0px;
    font-size: 26px;
    padding: 8px;
}
.detail{
    font-size: 17px;
}

/* .button-accept-cancel-done{
    margin: 0 auto;
} */

.accept-button{
    background-color: #1FAb89;
    border-radius: 15px;
    border: none;
    color: white;
    font-size: 18px;
    position: relative;
    height: 50px;
    width: 100px;
    left: 38px;
    top: 30px;
}
.cancel-button{
    background-color: rgb(29, 53, 43);
    border-radius: 15px;
    border: none;
    color: white;
    font-size: 18px;
    position: relative;
    height: 50px;
    width: 100px;
    left: 120px;
    top: 30px;
}
.done-button{
    background-color: #1FAb89;
    border-radius: 15px;
    border: none;
    color: white;
    font-size: 18px;
    position: relative;
    height: 50px;
    width: 100px;
    left: 127px;
    top: 30px;
}
#map{
    margin: 0 auto;
    margin-top: 20px;
    position: static;
    top: 110px;
    width: 520px;
}
