/* .app-section{
    padding: 10px;
    height: 727px;
} */

.detail-map{
    margin: 0 auto;
    text-align: center;
}
.driver-detail{
    margin: 0 auto;
    border-radius: 30px;
    position: static;
    width: 100%;
    height: 80px;
    background:#d7fbe8;
    text-align: center;
}
.head-detail{
    margin: 0px;
    font-size: 26px;
    padding: 8px;
}
.detail{
    font-size: 17px;
}
.button-accept-cancel-done{
    margin: 0 auto;
    text-align: center;
}
.accept-button{
    top: 30px;
    right: 30px;
    background-color: #1FAb89;
    border-radius: 15px;
    border: none;
    color: white;
    font-size: 18px;
    position: relative;
    height: 50px;
    width: 100px;
}
.cancel-button{
    top: 30px;
    left: 30px;
    background-color: rgb(29, 53, 43);
    border-radius: 15px;
    border: none;
    color: white;
    font-size: 18px;
    position: relative;
    height: 50px;
    width: 100px;
}
.done-button{
    top: 30px;
    background-color: #1FAb89;
    border-radius: 15px;
    border: none;
    color: white;
    font-size: 18px;
    position: relative;
    height: 50px;
    width: 100px;
}
#map{
    margin-top: 30px;
    position: relative;
    width: 100%;
    max-width: 500px;
    
}
