.queue-container{
    max-width: 600px;
    margin-left: auto;
    margin-right:auto ;
    position: fixed;
    height: 800px;
    width: 600px;
    background-color: grey;
    z-index: 1;
    text-align:center;
    
}

.button-queue{
    margin-top: 10%;
    margin-left:  auto;
    margin-right: auto;
}