.queue-container{
    left: 32%;
    margin: 0 auto;
    position: fixed;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    max-width: 560px;
    width: 90%;
    height: 580px;
    background-color: #62d2A2;
    border-radius: 20px;
    border-style: inset;
    border-width: 4px;
    border-color:#137e63;
}
#queueList{
    margin: 20px auto;
    padding: 20px;
    position: relative;
    min-width: 250px;
    width: 60%;
    height: 65%;
}
.button-enQueue{
    background-color: #1FAb89;
    border-radius: 15px;
    border: none;
    color: white;
    font-size: 18px;
    position: relative;
    height: 50px;
    width: 100px;
    right: 20px;
}
.button-leaveQueue{
    background-color: rgb(29, 53, 43);
    border-radius: 15px;
    border: none;
    color: white;
    font-size: 18px;
    position: relative;
    height: 50px;
    width: 100px;
    left: 26px;
}