#messages > div > div > div{
    font-size: 20px;
    margin: 0 auto;
}
#messages > div > div > div > p{
    /* font-size: 20px; */
    margin: 0 auto;
}
#to_span_noti > div:nth-child(3)> div >button>span{
    opacity: 1;
    font-size: 22px;
    /* left: 96%; */
    position: fixed !important;
    margin-top: -20px !important;
    /* right: 15px !important; */
    /* top: 20px !important; */
    /* bottom: -10px !important; */
}
/* #messages > div:nth-child(4) > div{
    background-color: sandybrown;
} */
#to_span_noti > div:nth-child(3) > div > div > div:nth-child(1) > button{
    margin-top: -5px !important;
    /* background-color: #1fab89 !important; */
}

/* #to_span_noti > div:nth-child(3) > div > div > div:nth-child(1){
    background-color: #1fab89 !important;
} */

#to_span_noti > div:nth-child(3) > div > div > div:nth-child(3) > input[type=text]{
    font-size: 20px !important;
}
