
#bottombutt{
  position:relative;
  top: -80px;
    /* margin: 20px; */
    /* background-color: burlywood; */
    text-align: center;
}
#buttstart{
    background-color: #198a6e;
    border-radius: 20px;
    border-color:#1FAB89;
    border-radius: 18px;
    width: 100px;
    height: 45px;
    align-content: center;
    margin: auto;
    font-size: 26px;
}

.button-currentLocation{
    float: right;
    height: 40px;
    width: 15%;
    background-image: url("./pictures/pinme3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: whitesmoke;
    border-style: solid;
    border-color: rgb(223, 223, 223);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.locationbox{
    top: -530px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    max-width: 560px;
    width: 90%;
}

#inbutt{
    margin: 0 auto;
    text-align: center;
    max-width: 560px;
    width: 90%;
}
/* input location  */
#input1.pac-target-input{
    width: 85%;
    height: 40px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
/* input destination  */
#input2.pac-target-input{
    margin-top: 4%;
    max-width: 560px;
    width: 90%;
    height: 40px;
}

/* yourlocation div */
#input1{
    background-color: white;
    background-image: url('./pictures/markgreen.png');
    background-position: 5px 0px;
    background-repeat: no-repeat;
    border-style: solid;
    border-radius: 10px;
    border-color: whitesmoke;
    padding: 0px 45px;
    background-size: contain;
    font-size: 22px;

}
/* destination div */
#input2{
    background-color: white;
    background-image: url('./pictures/markred.png');
    background-position: 5px 0px;
    background-repeat: no-repeat;
    border-style: solid;
    border-radius: 10px;
    border-color: whitesmoke;
    padding: 0px 45px;
    background-size: contain;
    font-size: 22px;

}
/* map position */
#mapbox{
  top: 140px;
  position: relative;
}

.redzone-error{
    z-index: 1;
    width: 300px;
    height: 300px;
    background-color: red;
}

/* ส่วนนี้คือHamberger bar ขวา ถ้าจะปรับแต่งต้องดูRef */
.menu{
    width: 150px;
    height: 150px;
    z-index: 1;
    background-color: red;
}

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    margin: 0 auto;
    width: 36px;
    height: 30px;
    left: 80%;
    top: 3%;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #ffffff;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #ffffff;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    top: 0;
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    /* background: #373a47; */
    background: #2a5d8d;
    /* top right bott left   */
    padding: 1.5em 1.5em 0 1em;
    font-size: 26px;
    color: coral;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    /* fill: #373a47; */
    fill: #299707;

  }
  
  /* Wrapper for item list */
  .bm-item-list {
    /* color: #b8b7ad; */
    color: #ffffff;
    padding: 1em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
    color: white;
  }
  .bm-item:hover{
    color: black;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }

  /* ด้านล่างนี้คิือCSSสำหรับตัวNotification */
  .message{
    font-size: 20px;
  }

  .notification-message{
    font-size: 20px;
  }

  .notification{
    /* width: 50px; */
  }


