
.waiting-box{
    margin:  auto;
    position: fixed;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    max-width: 560px;
    width: 90%;
    height: 620px;
    background-color: #62d2A2;
    border-radius: 20px;
    border-style: inset;
    border-width: 4px;
    border-color:#137e63;
}
.waiting-box h4{
    position:static;
    margin-top: 60px;
    font-size: 36px;
    color: rgb(0, 0, 0);
    font-weight: bolder
}
.waiting-box h5{
    position:static;
    margin-top: 20px;
    font-size: 30px;
    color: rgb(0, 0, 0);
}

#waiting-detail{
    margin: 50px auto;
    position: relative;
    min-width: 250px;
    width: 55%;
    height: 30%;
    background-color: white;
    border-radius: 20px;
    /* top right bott left   */
    padding: 15px 0px 15px 0px;
}
#waiting-detail div{
    /* justify-content: center; */
    /* align-items: center; */
    text-align: left;
    /* top right bott left   */
    margin: 0px 0px 14px 30px;
    font-size: 24px;
}

.cancel-button{
    margin:  auto;
    position: relative;
    /* height: 50px; */
    /* width: 150px; */
    /* top:40px;  */

}
#buttcancel{
    /* background-color: rgb(41, 80, 64); */
    /* background-color: #929191; */
    /* background-color: #535353; */
    background-color: #4e4e4e;
    border: none;
    border-radius: 18px;
    width: 85px;
    height: 45px;
    font-size: 26px;
    transition: 0.3s;
}
#buttcancel:hover {
    transform: scaleX(1.05) scaleY(1.05) translateY(-5px);
    background-color: #2b2b2b;
    box-shadow: 0 8px 11px #555454;
}
#buttcancel:active {
    transform: translateY(1px);
    box-shadow: 0 4px 7px #555454;
}

.confirmCancel {
    height: 250px;
    width: 250px;
    background-color:red;
}