.history-page{
    background-color: greenyellow;
    width: 400px;
    border-radius: 20px;
}


.history-list{
    
}


.history-container{
    background-color: aquamarine;
    border-radius: 20px;
    padding-top: 10px;
}