#messages {
    /* background-color: #d7fbe8 !important; */
}

/*สีช่องแชท*/
/* #messages > div > div{
    background-color: #9df3c4 !important;
} */
#messages > div > div > div{
    font-size: 20px;
    margin: 0 auto;
}

#messages > div > div > div > p{
    /* font-size: 20px; */
    margin: 0 auto;
}

/*แถบชื่อ chat*/
/* section > div > div > div{   
    background-color: #167964 !important;
} */

/*ปุ่ม chat*/
/* section > div > button{
    background-color: #167964 !important;
} */

/* #to_span_noti>div:nth-child(3)>div{
    background-color: chartreuse;
} */
