.queue-container{
    margin: 0 auto;
    /* position: fixed; */
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: -1;
    max-width: 700px;
    /* max-height: 800px; */
    height: 650px;
    width: 100%;
    /* height: 80%; */
    /* width: 300px; */
    /* background-color: #62d2A2; */
    background-color: white;
    border-radius: 20px;
    border-style: inset;
    border-width: 4px;
    border-color:#137e63;
}

.queue-container h4 {
    padding-top: 10px;
    font-size: 30px;
}
#queueList{
    margin: 20px auto;
    padding: 20px;
    position: relative;
    /* min-width: 350px; */
    /* max-height: 6000px; */
    width: 80%;
    height: 70%;
    font-size: 30px;
}
.button-queue{
    margin: 0 auto;
}
.button-enQueue{
    background-color: #1FAb89;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 26px;
    position: relative;
    height: 42px;
    width: 100px;
    right: 19px;
    top: 20px;
    transition: 0.3s;
}
.button-enQueue:hover {
    transform: scaleX(1.05) scaleY(1.05) translateY(-5px);
    background-color: #10725a;
    box-shadow: 0 8px 11px #115745;
}
.button-enQueue:active {
    transform: translateY(1px);
    box-shadow: 0 4px 7px #115745;
}

.button-leaveQueue{
    /* background-color: rgb(29, 53, 43); */
    /* background-color: #929191; */
    background-color: #575757;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 26px;
    position: relative;
    height: 42px;
    width: 100px;
    left: 26px;
    top: 20px;
    transition: 0.3s;

}

.button-leaveQueue:hover {
    transform: scaleX(1.05) scaleY(1.05) translateY(-5px);
    background-color: #424242;
    box-shadow: 0 8px 11px #555454;
}
.button-leaveQueue:active {
    transform: translateY(1px);
    box-shadow: 0 4px 7px #555454;
}