#main_driverlog{
    margin: 0 auto;
    padding: 20px;
    position: relative;
    display: block;
    align-items: center;
    text-align: center;
}
#main_driverlog h1 {
    margin-top: 30px;
    margin-bottom: 0;
    /* padding: 5px; */
    font-size: 55px;
}
#main_driverlog h2 {
    font-size: 40px;
    margin-bottom: 15px;
}
#driverlog{
    margin: 0 auto;
    align-items: center;
    text-align: center;
    width: 35%;
    min-width: 280px;
    max-width: 400px;
}
#driverlog label{
    text-align: left;
    display:block;
    margin-top: 10px;
    margin-bottom: 4px;
    padding-left: 6px;
    font-size: 30px;
}
#driverlog input{
    /* margin-left: 8px; */
    font-size: 22px;
    width: 100%;
    /* max-width: 400px; */
    height: 50px;
    border-style: solid;
    border-color: #12634f;
    border-radius: 5px;
    padding-left: 8px;
}
#sum_driver{
    padding: 0;
    text-align: center;
    margin-top: 30px;
    margin-right: 13px;
    /* background-color: #29967b; */
    background-color: #167964;
    border-radius: 15px 3px 3px 15px;
    border: none;
    color: white;
    font-size: 27px;
    position: relative;
    height: 53px;
    width: 110px;
    transition: 0.3s;
}
#sum_driver:hover {
    transform: scaleX(1.05) scaleY(1.05) translateY(-5px) translateX(-7px);
    background-color: #21725e;
    box-shadow: 0 8px 13px #115745;
}
#sum_driver:active {
    transform: translateY(1px);
    box-shadow: 0 4px 9px #115745;
}

#back_driver{
    padding: 0;
    text-align: center;
    margin-top: 30px;
    margin-left: 13px;
    /* background-color: #FF4935; */
    /* background-color: #d62310; */
    background-color: #942013;
    border-radius: 3px 15px 15px 3px;
    border: none;
    color: white;
    font-size: 27px;
    position: relative;
    height: 53px;
    width: 110px;
    transition: 0.3s;
}
#back_driver:hover {
    transform: scaleX(1.05) scaleY(1.05) translateY(-5px) translateX(7px);
    background-color: #aa2718;
    box-shadow: 0 8px 13px #9e1f11;
}
#back_driver:active {
    transform: translateY(1px);
    box-shadow: 0 4px 9px #9e1f11;
}