.main{
    position: relative;
    margin: 0 auto;
    top: 15%;
    width: 728px;
    height: 400px;
    display: flex;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 12px 12px 20px rgba(0, 0, 0, 0.5);
}
.main_map{
    float: left;
    /* position: relative; */
    background-image: url("./pictures/map.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: whitesmoke;
    border-radius: 20px 0px 0px 20px;
    width: 55%;
}
.main_log{
    background-color: rgba(255, 255, 255, 0.45);
    width: 45%;
    min-width: 280px;
    padding-top: 30px;
    position: relative;
    display: block;
    align-items: center;
    text-align: center;
    border-radius: 0px 20px 20px 0px;
    /* z-index: 1; */

}
.main_log h1 {
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 60px;
}
#user_log{
    padding: 0;
    margin-right: 12px;
    background-color: #29967b;
    /* background-color: #38b8a4; */
    border-radius: 15px 3px 3px 15px;
    border: none;
    color: rgb(245, 245, 245);
    font-size: 26px;
    position: relative;
    height: 52px;
    width: 105px;
    transition: 0.3s;
}
#user_log:hover {
    transform: scaleX(1.05) scaleY(1.05) translateY(-3px) translateX(-10px);
    background-color: #21725e;
    box-shadow: 0 8px 13px #115745;
}
#user_log:active {
    transform: translateY(1px);
    box-shadow: 0 4px 9px #115745;
}
#driver_log{
    padding: 0;
    margin-left: 12px;
    /* background-color: #616362; */
    background-color: #168088;
    border-radius: 3px 15px 15px 3px;
    border: none;
    color: white;
    font-size: 26px;
    position: relative;
    height: 52px;
    width: 105px;
    transition: 0.3s;
}
#driver_log:hover {
    transform: scaleX(1.05) scaleY(1.05) translateY(-3px) translateX(10px);
    background-color: #22577A;
    box-shadow: 0 8px 13px #555454;
}
#driver_log:active {
    transform: translateY(1px);
    box-shadow: 0 4px 9px #555454;
}

.main_log h4 {
    margin-top: 40px;
    margin-bottom: 8px;
    padding: 10px;
    font-size: 32px;
    /* color: rgb(82, 82, 82); */
    opacity: 80%;
}
#user_reg{
    padding: 0;
    margin-right: 2px;
    /* background-color: #85ebb5c2;   */
    background-color: #5ecebd;  
    border-radius: 15px 2px 2px 15px;
    border: none;
    /* border-right-style: solid;
    border-right-width: 1px;
    border-right-color: rgb(128, 126, 126); */
    color: rgb(0, 0, 0);
    font-size: 24px;
    position: relative;
    height: 45px;
    width: 90px;
    transition: 0.3s;
    opacity: 80%;
}
#user_reg:hover {
    transform: scaleX(1.05) scaleY(1.05) translateY(-3px) translateX(-10px);
    background-color: #21725e;
    border: none;
    color: white;
    box-shadow: 0 8px 13px #115745;
}
#user_reg:active {
    transform: translateY(1px);
    box-shadow: 0 4px 9px #115745;
}
#driver_reg{
    padding: 0;
    margin-left: 2px;
    background-color: #5ecebd;  
    border-radius: 2px 15px 15px 2px;
    border: none;
    /* border-left-style: solid;
    border-left-width: 1px;
    border-left-color: rgb(128, 126, 126); */
    color: rgb(0, 0, 0);
    font-size: 24px;
    position: relative;
    height: 45px;
    width: 90px;
    transition: 0.3s;
    opacity: 80%;
}
#driver_reg:hover {
    transform: scaleX(1.05) scaleY(1.05) translateY(-3px) translateX(10px);
    background-color: #22577A;
    border: none;
    color: white;
    box-shadow: 0 8px 13px #555454;
}
#driver_reg:active {
    transform: translateY(1px);
    box-shadow: 0 4px 9px #555454;
}
/* @media only screen and (max-width: 840px) { */
@media only screen and (max-width: 750px) {
    .main{
        display: flex;
        justify-content: center;
        width: 100%;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0);

    }
    .main_log{
        /* background-color: rgba(255, 255, 255, 0.45); */
        border-radius: 20px;
        box-shadow: 12px 12px 20px rgba(0, 0, 0, 0.5);
        /* box-shadow: 12px 12px 20px rgba(5, 40, 20, 0.705); */
        /* background-image: url("./pictures/map.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain; */
    }
    .main_map{
        /* position: fixed;
        top:0;
        left: 0;
        width:200px;
        z-index: 2; */
        width: 0;
    }
}
