#main_driverlog{
    margin: 0 auto;
    padding: 20px;
    position: relative;
    display: block;
    align-items: center;
    text-align: center;
}
#main_driverlog h1 {
    margin-top: 110px;
    margin-bottom: 8px;
    padding: 10px;
    font-size: 55px;
}
#driverlog label{
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 30px;
}
#driverlog input{
    margin-left: 10px;
    font-size: 22px;
    width: 50%;
    height: 40px;
    border-style: solid;
    border-color: #12634f;
    border-radius: 5px;
}
#sum_driver{
    text-align: center;
    margin-top: 20px;
    background-color: #1b9274;
    border-radius: 14px;
    border: none;
    color: white;
    font-size: 26px;
    position: relative;
    height: 50px;
    width: 100px;
}