#main_driverreg{
    margin: 0 auto;
    padding: 8px;
    position: relative;
    display: block;
    align-items: center;
    text-align: center;
}
#main_driverreg h1 {
    margin-top: 2px;
    margin-bottom: 1px;
    font-size: 50px;
}
#boxinput-driver{
    margin: 0 auto;
    padding: 0 auto;
    /* background-color: lavender; */
    height: 60px;
    /* min-height: 45px;
    max-height: 50px;
    width: 55%; */
    min-width: 400px;
    max-width: 600px;
}
#driverreg label{
    margin-left: 6px;
    float: left;
    font-size: 30px;
}
#driverreg input{
    float: right;
    transform: translateX(-14%);
    /* margin-left: 15px; */
    margin-right: 0px;
    font-size: 22px;
    width: 35%;
    min-width: 300px;
    height: 45px;
    border-style: solid;
    border-color: #12634f;
    border-radius: 5px;
    padding-left:10px;
}
#sum_driverreg{
    text-align: center;
    margin-top: 14px;
    background-color: #29967b;
    border-radius: 15px;
    border: none;
    color: white;
    font-size: 27px;
    position: relative;
    height: 56px;
    width: 125px;
}
#sum_driverreg:hover {
    transform: scaleX(1.05) scaleY(1.05) translateY(-6px);
    background-color: #21725e;
    box-shadow: 0 8px 13px #115745;
}
#sum_driverreg:active {
    transform: translateY(1px);
    box-shadow: 0 4px 9px #115745;
}