#main_userreg{
    margin: 0 auto;
    padding: 10px;
    position: relative;
    display: block;
    align-items: center;
    text-align: center;
    height: 92%;
}
#main_userreg h1 {
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: 42px;
}
#userreg{
    align-items: center;
    text-align: center;
    position: static;
    height: 80%;
    /* background-color: rgb(26, 157, 180); */
}
#boxinput-user{
    margin: 0px auto;
    /* background-color: lavender; */
    height: auto;
    width: 90%;
    max-width: 700px;
    height: 10%;
}
#userreg label{
    margin: 0 auto;
    float: left;
    position: static;
    font-size: 23px;
}
#userreg input{
    position: static;
    float: right;
    font-size: 18px;
    width: 40%;
    max-width: 300px;
    height: 80%;
    max-height: 50px;
    border-style: solid;
    border-color: #12634f;
    border-radius: 5px;
    padding-left:10px;
}

#sum_userreg{
    text-align: center;
    margin-top: -20px;
    margin-right: 13px;
    background-color: #29967b;
    border-radius: 15px 3px 3px 15px;
    border: none;
    color: white;
    font-size: 27px;
    position: relative;
    height: 10%;
    min-height: 40px;
    max-height: 50px;
    width: 110px;
    transition: 0.3s;
}
#sum_userreg:hover {
    transform: scaleX(1.05) scaleY(1.05) translateY(-5px) translateX(-7px);
    background-color: #21725e;
    box-shadow: 0 8px 13px #115745;
}
#sum_userreg:active {
    transform: translateY(1px);
    box-shadow: 0 4px 9px #115745;
}

#back{
    text-align: center;
    margin-top: -20px;
    margin-left: 13px;
    background-color: #616362;
    border-radius: 3px 15px 15px 3px;
    border: none;
    color: white;
    font-size: 27px;
    position: relative;
    height: 10%;
    min-height: 40px;
    max-height: 50px;
    width: 110px;
    transition: 0.3s;
}
#back:hover {
    transform: scaleX(1.05) scaleY(1.05) translateY(-5px) translateX(7px);
    background-color: #4f5050;
    box-shadow: 0 8px 13px #555454;
}
#back:active {
    transform: translateY(1px);
    box-shadow: 0 4px 9px #555454;
}
