
#main_driverreg{
    margin: 0 auto;
    padding: 2px;
    position: relative;
    display: block;
    align-items: center;
    text-align: center;
    height: 100%;
}
#main_driverreg h1 {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 42px;
}
#driverreg{
    height: 100%;
    align-items: center;
    text-align: center;
    position: static;
    height: 80%;
    /* background-color: rgb(26, 157, 180); */
}
#boxinput-driver{
    margin: 0 auto;
    /* background-color: lavender; */
    height: auto;
    width: 90%;
    max-width: 600px;
    height: 7.7%;
}
#driverreg label{
    margin: 0 auto;
    float: left;
    position: static;
    /* font-size: 23px; */
    font-size: 20px;
    /* font-size: 1.6vw; */
}
#driverreg input{
    position: static;
    float: right;
    font-size: 18px;
    width: 40%;
    max-width: 300px;
    height: 80%;
    max-height: 50px;
    border-style: solid;
    border-color: #12634f;
    border-radius: 5px;
    padding-left:10px;
}
#sum_driverreg{
    text-align: center;
    margin-top: 9px;
    margin-right: 13px;
    background-color: #29967b;
    border-radius: 15px 3px 3px 15px;
    border: none;
    color: white;
    font-size: 26px;
    position: relative;
    height: 7%;
    min-height: 30px;
    max-height: 50px;
    width: 100px;
    transition: 0.3s;
}
#sum_driverreg:hover {
    transform: scaleX(1.05) scaleY(1.05) translateY(-5px) translateX(-7px);
    background-color: #21725e;
    box-shadow: 0 8px 13px #115745;
}
#sum_driverreg:active {
    transform: translateY(1px);
    box-shadow: 0 4px 9px #115745;
}

#back_driverreg{
    text-align: center;
    margin-top: 9px;
    margin-left: 13px;
    background-color: #616362;
    border-radius: 3px 15px 15px 3px;
    border: none;
    color: white;
    font-size: 26px;
    position: relative;
    height: 7%;
    min-height: 30px;
    max-height: 50px;
    width: 100px;
    transition: 0.3s;
}
#back_driverreg:hover {
    transform: scaleX(1.05) scaleY(1.05) translateY(-5px) translateX(7px);
    background-color: #4f5050;
    box-shadow: 0 8px 13px #555454;
}
#back_driverreg:active {
    transform: translateY(1px);
    box-shadow: 0 4px 9px #555454;
}
