/* .app-section{
    padding: 10px;
    height: 727px;
} */

.error{
  z-index: -1;
  background-color: red;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.detail-map{
  margin: 0 auto;
  padding: 0px;
  text-align: center;
}
.driver-detail-driv{
  margin: 0 auto;
  /* padding: 20px; */
  border-radius: 30px;
  position: static;
  width: 100%;
  height: 60px;
  background:#d7fbe8;
  text-align: center;
  font-size: 18px;
}

.pin-red,.pin-green,.pin-green-info,.pin-red-info{
display: inline-block;
/* width: 25%; */
/* height: 30px; */
}
.pin-green{
margin-top: 10px;
height:30px;
width: 25px;
background-image: url('./pictures/markgreen.png');
background-size: contain;
background-repeat: no-repeat;
}
.pin-green-info{
top: -10px;
position: relative;
font-size: 22px;
/* background-color: darksalmon; */
}
.pin-red{
margin-left: 20px;
margin-top: 10px;
height:30px;
width: 25px;
background-image: url('./pictures/markred.png');
background-size: contain;
background-repeat: no-repeat;
/* background-color: rgb(150, 64, 36); */

}
.pin-red-info{
top: -10px;
position: relative;
font-size: 22px;
/* background-color: darksalmon; */
}

.head-detail{
  font-size: 26px;
  padding: 8px;
}
.detail{
  font-size: 24px;
}
.button-accept-cancel-done{
  margin: 0 auto;
  text-align: center;
}
.accept-button{
  top: 10px;
  right: 30px;
  background-color: #1FAb89;
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 26px;
  position: relative;
  margin: auto;
  padding: auto;
  height: 42px;
  width: 100px;
  transition: 0.3s;
}
.accept-button:hover {
transform: scaleX(1.05) scaleY(1.05) translateY(-5px);
background-color: #10725a;
box-shadow: 0 8px 11px #115745;
}
.accept-button:active {
transform: translateY(1px);
box-shadow: 0 4px 7px #115745;
}
.cancel-button{
  top: 10px;
  left: 30px;
  /* background-color: rgb(29, 53, 43); */
  /* background-color: #929191; */
  background-color: #575757;
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 26px;
  position: relative;
  height: 42px;
  width: 100px;
  transition: 0.3s;

}
.cancel-button:hover {
transform: scaleX(1.05) scaleY(1.05) translateY(-5px);
/* background-color: #6e6e6e; */
background-color: #424242;
box-shadow: 0 8px 11px #555454;
}
.cancel-button:active {
transform: translateY(1px);
box-shadow: 0 4px 7px #555454;
}
.done-button{
  top: 10px;
  background-color: #1FAb89;
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 26px;
  position: relative;
  height: 42px;
  width: 100px;
  transition: 0.3s;
}
.done-button:hover {
transform: scaleX(1.05) scaleY(1.05) translateY(-5px);
background-color: #10725a;
box-shadow: 0 8px 11px #115745;
}
.done-button:active {
transform: translateY(1px);
box-shadow: 0 4px 7px #115745;
}
#map{
  height: 350px;
  /* height: 100%; */
  margin-top: 0px;
  position: relative;
  width: 100%;
  max-width: 600px;
  
}

/* ส่วนนี้คือHamberger bar ขวา ถ้าจะปรับแต่งต้องดูRef */
.menu{
  width: 150px;
  height: 150px;
  z-index: 1;
  background-color: red;
}
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  
  margin: 0 auto;
  width: 36px;
  height: 30px;
  left: 80%;
  /* top: 36px; */
  top: 2%;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}


/* ด้านล่างนี้คิือCSSสำหรับตัวNotification */
.message{
  font-size: 20px;
}

.notification-message{
  font-size: 20px;
}
/* icon in menu */
.far,.fas{
  font-family: fontawesome !important;
  font-style: normal;
}
/* .notification{ */
  /* width: 50px; */
/* } */
#loading{
  display: block;
  position: relative;
  top:30%;
  margin: 0 auto;
  /* margin-top: 50%; */
  width: 150px;
}