/* .app-section{
    padding: 10px;
    height: 727px;
} */

.error{
  z-index: -1;
  background-color: red;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.detail-map{
  margin: 0 auto;
  padding: 0px;
  text-align: center;
}
.driver-detail-driv{
  margin: 0 auto;
  /* padding: 20px; */
  border-radius: 30px 30px 0px 0px;
  position: static;
  width: 100%;
  height: 40px;
  /* background:#ffffffbd; */
  background:#d1f0e6;
  text-align: center;
  font-size: 18px;
  /* padding-top: -10px; */
}
.pin-infooo{
  height: 45px;
  /* background:#ffffffbd; */
  background:#d1f0e6;
  border-radius: 0px 0px 30px 30px;
  margin-top: -15px;
  margin-bottom: 10px;
  /* padding-bottom: -20px; */
}
.pin-red,.pin-green,.pin-green-info,.pin-red-info{
  margin: 5px auto;
display: inline-block;
/* width: 25%; */
/* height: 30px; */
}
.pin-green{
margin-top: 10px;
height:30px;
width: 25px;
background-image: url('./pictures/markgreen.ver2.png');
background-size: contain;
background-repeat: no-repeat;
}
.pin-green-info{
top: -10px;
position: relative;
font-size: 22px;
/* background-color: darksalmon; */
}
.pin-red{
margin-left: 20px;
margin-top: 10px;
height:30px;
width: 25px;
background-image: url('./pictures/markred.ver2.png');
background-size: contain;
background-repeat: no-repeat;
/* background-color: rgb(150, 64, 36); */

}
.pin-red-info{
top: -10px;
position: relative;
font-size: 22px;
/* background-color: darksalmon; */
}

.head-detail{
  font-size: 26px;
  padding: 8px;
}
.detail{
  font-size: 24px;
}
.button-accept-cancel-done{
  margin: 0 auto;
  text-align: center;
}
.accept-button{
  top: 5px;
  right: 30px;
  background-color: #167964;;
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 26px;
  position: relative;
  margin: auto;
  padding: auto;
  height: 42px;
  width: 100px;
  transition: 0.3s;
  padding: 0;
}
.accept-button:hover {
transform: scaleX(1.05) scaleY(1.05) translateY(-5px);
background-color: #105e4d;
box-shadow: 0 8px 11px #115745;
}
.accept-button:active {
transform: translateY(1px);
box-shadow: 0 4px 7px #115745;
}
.cancel-button{
  top: 5px;
  left: 30px;
  /* background-color: rgb(29, 53, 43); */
  /* background-color: #929191; */
  /* background-color: #575757; */
  /* background-color: #FF4935; */
  background-color: #942013;
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 26px;
  position: relative;
  height: 42px;
  width: 100px;
  transition: 0.3s;
  padding: 0;
}
.cancel-button:hover {
transform: scaleX(1.05) scaleY(1.05) translateY(-5px);
/* background-color: #6e6e6e; */
background-color: #aa2718;
box-shadow: 0 8px 11px #9e1f11;
}
.cancel-button:active {
transform: translateY(1px);
box-shadow: 0 4px 7px #9e1f11;
}

#map{
  height: 355px;
  /* height: 350px; */
  /* height: 100%; */
  margin-top: 0px;
  position: relative;
  width: 100%;
  max-width: 600px;
  border-style: solid;
  border-width: 2px;
  border-color:#00000069;
  box-shadow: 12px 12px 20px rgba(0, 0, 0, 0.329);
  
}
#accept-time{
  width: 80%;
  min-width: 320px;
  max-width: 500px;
  height: 45px;
  /* background:#ffffffbd; */
  background:#d1f0e6;
  color: red;
  margin: 14px auto 0;
  display: block;
  position: relative;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  border-radius: 25px;
}
#should-black{
  font-size: 28px;
  color:black;
}

/* ส่วนนี้คือHamberger bar ขวา ถ้าจะปรับแต่งต้องดูRef */
.menu{
  width: 150px;
  height: 150px;
  z-index: 1;
  background-color: red;
}
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  /* position: sticky; */
  margin: 0 auto;
  width: 36px;
  height: 30px;
  right: 15%;
  top: 20px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #ffffff;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #ffffff;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  top: 0;
  position: fixed;
  /* position: sticky; */
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
    /* background: #2a5d8d; */
    background: #22577A;
    /* top right bott left   */
    padding: 1.5em 1.5em 0 1em;
    font-size: 26px;
    color: coral;
  }

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #ffffff;
  padding: 1em;
}

/* Individual item */
.bm-item {
  margin-top: 20px;
  display: inline-block;
  color: rgb(255, 255, 255);
}
#user-info{
  font-size: 36px;
  color: rgb(0, 0, 0);
}

.bm-item:hover{
  color: black;
  /* transform: scaleX(1.05) scaleY(1.05) translateY(-5px); */
}
#signout:hover{
  color: red;
  /* transform: scaleX(1.05) scaleY(1.05) translateY(-5px); */
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}


/* ด้านล่างนี้คิือCSSสำหรับตัวNotification */
.message{
  font-size: 20px;
}

.notification-message{
  font-size: 20px;
}
/* icon in menu */
.far,.fas{
  font-family: fontawesome !important;
  font-style: normal;
}
/* .notification{ */
  /* width: 50px; */
/* } */
#signout{
  border-top-style: solid;
  padding-top: 12px;
  border-width: 3px;
  border-color: white;
  /* color: red; */
}

#loading{
  position: relative;
  top:30%;
  display: block;
  margin: 0 auto;
  /* margin-top: 50%; */
  width: 200px;
}

@media only screen and (max-height: 588px) and (max-height: 649px){
  #map{
    height: 300px;

  }

}

@media only screen and (max-height: 670px) {
  #pin-info{
    display: none;
  }
  .pin-infooo{
    display: none;
  }
  .driver-detail-driv{
    border-radius: 30px;
    padding: 0;
  }
  .driver-detail-driv{
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 380px) {
  #pin-info{
    display: none;
  }
  .pin-infooo{
    display: none;
  }
  .driver-detail-driv{
    border-radius: 30px;
    padding: 0;
  }
  .driver-detail-driv{
    margin-bottom: 10px;
  }
}
#test{
  position: fixed;
  /* position: sticky; */
  display: flex;
  /* margin: auto; */
  align-items:center;
  justify-content:center;
  height: 50px;
  top: 9px;
  right: 15%;
  font-size: 30px;
  background:#ffffff63;
  padding: 0px 70px 0px 15px;
  margin-right: -20px;
  border-radius: 20px;
}
