.waiting-box{
    margin: 0 auto;
    position: fixed;
    right: 43%;
    top: 32%;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    height: 166px;
    width: 287px;
    background-color: rgb(3, 10, 75);
}
.waiting-box h4{
    margin-top: 16px;
    font-size: 24px;
    color: white;
    font-weight: bolder
}

.cancel-button{
    margin: 0 auto;
    position: relative;
    width: 100px;
    top:40px;
}
