.waiting-box{
    margin: 0 auto;
    position: fixed;
    /* top: 0%; */
    /* left: 0%; */
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    height: 70%;
    max-width: 560px;
    width: 90%;
    background-color: #62d2A2;

    border-radius: 20px;
    border-style: inset;
    border-width: 4px;
    border-color:#137e63;
}
.waiting-box h4{
    margin-top: 20px;
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-weight: bolder
}
.waiting-box h5{
    margin-top: 20px;
    font-size: 24px;
    color: rgb(0, 0, 0);
    /* font-weight: bolder */
}


#waiting-detail{
    margin: 20px auto;
    position: relative;
    min-width: 250px;
    width: 50%;
    height: 30%;
    background-color: white;
    border-radius: 30px;
    /* top right bott left   */
    padding: 15px 0px 15px 0px;
}
#waiting-detail div{
    /* justify-content: center; */
    /* align-items: center; */
    text-align: left;
    /* top right bott left   */
    margin: 0px 0px 12px 20px;
    font-size: 20px;
}

.cancel-button{
    margin:  auto;
    position: relative;
    /* height: 50px; */
    /* width: 150px; */
    /* top:40px;  */

}
#buttcancel{
    background-color: rgb(41, 80, 64);
    border-color: rgb(0, 0, 0);
    border-radius: 18px;
    width: 80px;
    height: 45px;
    font-size: 18px;
}
