#bottombutt{
    margin: 20px;
    /* background-color: burlywood; */
    text-align: center;
}
#buttstart{
    background-color: #1FAb89;
    border-color:#1FAb89;
    align-content: center;
    margin: auto;
    width: 100px;
    
}
.button-currentLocation{
    float: right;
    height: 40px;
    width: 15%;
    background-image: url("pinme2.PNG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: white;
    border-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    /* box-shadow: 0    ; */
}

#inbutt{
    /* background-color: bisque; */
    position: fixed;
    top: 11%;
    max-width: 560px;
    width: 90%;
}


/* yourlocation input */
#input1.pac-target-input{
    /* max-width: 600px; */
    width: 85%;
    height: 40px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
/* start */
#input2.pac-target-input{
    position: fixed;
    top: 19%;
    max-width: 560px;
    width: 90%;
    height: 40px;
}
#input1,#input2{
    background-color: white;
    background-image: url('search_icon.png');
    background-position: 5px 0px;
    background-repeat: no-repeat;
    border-radius: 10px;
    border-color: white;
    padding: 0px 45px;
    background-size: contain;

}

#map{
    position: relative;
    top: 120px;
}


